<div class="container__big-card">
 <div class="big-card__picture">
  <img
  src="https://conteudo.imguol.com.br/c/entretenimento/65/2025/01/16/mark-zuckerberg-com-o-relogio-hand-made-1-da-marca-suica-greubel-forsey-1737046727807_v2_360x480.jpg.webp"
  alt=""
  width="327"
  height="413px"

  srcset=""
>
 </div>
 <div class="big-card__title">
   <h1><a href="#">Zuckerberg planeja automatizar trabalhos de codificação do Facebook com IA</a></h1>
 </div>
 <div  class="big-card__description">
  <p>
    "Uma IA que pode efetivamente ser uma espécie de engenheiro de nível médio." O ex-CEO do Facebook, Mark Zuckerberg, diz que pretende começar a automatizar trabalhos de codificação com IA — este ano.<br>

  </p>
 </div>
</div>
